<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>music player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}" />
  </head>
  <body>
    <header>
      <div id="logo-container">
        <img
          id="logo"
          src="{{ url_for('static', filename='img/Spotify_Primary_Logo_RGB_Green.png') }}"
          alt="logo spotify"
        />
        <h1>Bobofy</h1>
      </div>
      <div id="search-container">
        <a href="{{ url_for('index')}}" id="home-button"></a>
        <input type="text" id="search-bar" placeholder="Buscar..." />
      </div>
      <nav>
        <ul>
          <li><a href="https://open.spotify.com/">Spotify</a></li>
          <li><a href="">Saiba Mais</a></li>
        </ul>
      </nav>
    </header>
    <main class="home-main">
      <h2>Music Player</h2>
      <div class="music-card">
        <h2 id="music-tittle">#placeholder</h2>
        <h3 id="singer-name">#placeholder</h3>
        <img src="" alt="" />
        <img
          id="album-photo"
          src="{{ url_for('static', filename='img/album-placeholder.jpeg') }}"
          alt="foto do album"
        />
        <h4 id="album-name">#placeholder</h4>
        <p id="music-length">#placeholder</p>
        <button id="play-button">▶️</button>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
